PORT=4000
JWT_SECRET=replace_with_long_secret
MONGODB_URI=mongodb://127.0.0.1:27017/medichain
RPC_URL=https://rpc-mumbai.maticvigil.com
CONTRACT_ADDRESS=replace_with_deployed_contract_address
OWNER_PRIVATE_KEY=replace_with_backend_admin_wallet_private_key
FRONTEND_BASE_URL=http://localhost:5173

